<ion-view view-title="Chat Overview">
  <ion-content>
    <ion-list class="card">
      <ion-item class="item-text-wrap">
        <p>{{'HELLO'|translate}} {{messengerC.service.currentUser.salutation ?
          messengerC.service.currentUser.salutation: ''}}, {{messengerC.service.currentUser.givenName}},
          {{messengerC.service.currentUser.surname}}</p>
      </ion-item>
      <ion-toggle ng-model="messengerC.media.on" ng-change="messengerC.changeAudioSetting()">
        <i class="icon" ng-class="{'ion-ios-volume-high': ionic.Platform.isIos() && messengerC.media.on, 'ion-ios-volume-low': ionic.Platform.isIos() && !messengerC.media.on, 'ion-android-volume-up': !ionic.Platform.isIos() && messengerC.media.on, 'ion-android-volume-off': !ionic.Platform.isIos() && !messengerC.media.on}"></i>
      </ion-toggle>
    </ion-list>
    <ion-list class="card">
      <ion-item class="item-divider">
        {{'CHAT_WITH'|translate}}
      </ion-item>
      <ion-item class="item-icon-left" ui-sref="tab.chat({uuid: cUser.attributes.uuid})" ng-repeat="cUser in messengerC.service.conversationsUser.models track by cUser.attributes.uuid">
        <i class="icon ion-person-stalker"></i>
        {{cUser.attributes.givenName}}, {{cUser.attributes.surname}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
